:root {
  --main-text-color: #757575;
  --second-text-color: #212121;
  --accent-color: #2196F3;
  --white-color: #FFFFFF;
  --address-color: rgba(255, 255, 255, 0.6);
  --section-bg-color: #F5F4FA;
  --logo-color: #000000;
  --bg-color: #2F303A;
  --border-color: #ECECEC;
  --card-border-color: #EEEEEE;
  --hero-bg-overlay: rgba(47, 48, 58, 0.4);
  --hero-bg-color: #C4C4C4;
  --icon-color: #AFB1B8;
  --main-font-family: Roboto, sans-serif;
  --second-font-family: Raleway, sans-serif;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

body {
  font-family: var(--main-font-family);
  font-size: 14px;
  letter-spacing: 0.03em;
  background-color: var(--white-color);
  color: var(--main-text-color);
}

.container {
  padding: 0 15px;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 768px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.title {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.1428571429;
  text-transform: uppercase;
  text-align: center;
}

.section-title {
  font-size: 28px;
  font-weight: 700;
  line-height: 1.1785714286;
  text-align: center;
  color: var(--second-text-color);
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .section-title {
    margin-bottom: 50px;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.1666666667;
  }
}

.flex-cont {
  display: flex;
  align-items: center;
}

.social-list__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-list__link:hover, .social-list__link:focus {
  background-color: var(--accent-color);
}
.social-list__link:hover .social-list__icon, .social-list__link:focus .social-list__icon {
  fill: var(--white-color);
}

.social-list {
  display: flex;
  justify-content: center;
}

.social-list__item:not(:last-child) {
  margin-right: 10px;
}

.social-list__icon {
  fill: var(--icon-color);
}

.btn-form {
  font-style: normal;
  font-weight: 700;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--white-color);
  background-color: var(--accent-color);
}

.button {
  border-radius: 4px;
  border: none;
  display: block;
  font-family: var(--main-font-family);
  font-size: 16px;
  cursor: pointer;
}

.logo {
  font-family: var(--second-font-family);
  font-size: 24px;
  font-weight: 700;
  line-height: 1.1666666667;
}
@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    font-weight: 700;
    line-height: 1.1923076923;
  }
}

.logo_blue {
  color: var(--accent-color);
}

.logo_black {
  color: var(--logo-color);
}

.logo_white {
  color: var(--white-color);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 99;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  /*  overflow: auto; */
  transform: translate(-50%, -50%) scale(1);
  width: 100%;
  height: 100%;
  background-color: var(--white-color);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 480px) {
  .modal {
    width: 450px;
    height: 609px;
  }
}
@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    height: 580px;
  }
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.8);
}

.contact-form {
  display: flex;
  flex-direction: column;
  padding: 40px;
}

.contact-form > b {
  margin: 0 auto 12px;
  line-height: 1.15;
  font-size: 20px;
  text-align: center;
  color: var(--second-text-color);
}

.form-text {
  font-size: 12px;
  letter-spacing: 0.01em;
}

.contact-form__label {
  margin-bottom: 4px;
}

.contact-form__field {
  position: relative;
  margin-bottom: 10px;
}

.contact-form__input {
  width: 100%;
  height: 40px;
  padding: 12px 42px 12px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}

.contact-form__comment:focus,
.contact-form__input:focus {
  outline: none;
  border: 1px solid var(--accent-color);
}

.contact-form__icon {
  position: absolute;
  top: 12px;
  left: 12px;
}
.contact-form__field:focus-within .contact-form__icon {
  fill: var(--accent-color);
}

.contact-form__comment {
  height: 120px;
  margin-bottom: 20px;
  padding: 12px 16px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}
.contact-form__comment::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.accept {
  position: relative;
  margin: 0 auto 30px;
  display: flex;
  align-items: center;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.1666666667;
}
@media screen and (min-width: 1200px) {
  .accept {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.7142857143;
  }
}

.checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.accept > a {
  color: var(--accent-color);
}

.accept-icon {
  margin-right: 7px;
}

.accept-icon-ch {
  opacity: 0;
  background-color: var(--accent-color);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.checkbox:checked + .accept-icon-ch {
  opacity: 1;
}

.accept-icon-unch {
  position: absolute;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.checkbox:checked ~ .accept-icon-unch {
  opacity: 0;
}

.form-subm-btn {
  width: 200px;
  padding: 10px 52px;
  margin: 0 auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-subm-btn:hover, .form-subm-btn:focus {
  background-color: #188ce8;
}

.modal-close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}
.modal-close-btn:hover, .modal-close-btn:focus {
  fill: var(--accent-color);
}

.header {
  /* position: relative;
  padding: 10px 0; */
  border-bottom: 1px solid var(--border-color);
}

.header__container {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 767px) {
  .header__container {
    justify-content: space-between;
  }
}

.navigation {
  display: flex;
  align-items: center;
}

.header__logo {
  margin-right: 0;
  padding-top: 16px;
  padding-bottom: 16px;
}
@media screen and (min-width: 768px) {
  .header__logo {
    padding-top: 26px;
    padding-bottom: 26px;
    margin-right: 86px;
  }
}
@media screen and (min-width: 1200px) {
  .header__logo {
    padding-top: 24px;
    padding-bottom: 24px;
    margin-right: 92px;
  }
}

.nav-list {
  display: none;
}
@media screen and (min-width: 768px) {
  .nav-list {
    display: flex;
  }
}

.nav-list__item:not(:last-child) {
  margin-right: 50px;
}

.nav-list__link {
  color: var(--second-text-color);
  padding: 32px 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-list__link:hover, .nav-list__link:focus {
  color: var(--accent-color);
}
.nav-list__link.current {
  color: var(--accent-color);
  position: relative;
}
.nav-list__link.current::after {
  content: "";
  position: absolute;
  bottom: 0;
  display: block;
  width: 109%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
}

.address-list {
  display: none;
}
@media screen and (min-width: 768px) {
  .address-list {
    display: block;
    padding: 21px 0;
    margin-left: auto;
  }
}
@media screen and (min-width: 1200px) {
  .address-list {
    display: flex;
    align-items: center;
    padding: 0;
  }
}

@media screen and (min-width: 767px) {
  .address-list__item:not(:last-child) {
    margin-bottom: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .address-list__item:not(:last-child) {
    margin-right: 50px;
    margin-bottom: 0;
  }
}

.address-list__item {
  color: var(--second-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 1200px) {
  .address-list__item {
    padding: 32px 0;
  }
}
.address-list__item:hover, .address-list__item:focus {
  color: var(--accent-color);
}
.address-list__item.current {
  color: var(--accent-color);
  position: relative;
}
.address-list__item.current::after {
  content: "";
  position: absolute;
  bottom: 0;
  display: block;
  width: 109%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
}

.address-list_link,
.nav-list__link {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.1428571429;
  letter-spacing: 0.02em;
}

.address-list_link {
  display: flex;
  align-items: center;
  color: var(--main-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address-list_link:hover, .address-list_link:focus {
  color: var(--accent-color);
}

.address-list__icon {
  fill: currentColor;
  margin-right: 10px;
}

.mobile-btn {
  background-color: transparent;
  border: none;
  margin: 0;
  padding: 0;
  line-height: 0;
}

.mobile-menu-btn {
  display: inline-block;
}
@media screen and (min-width: 768px) {
  .mobile-menu-btn {
    display: none;
  }
}

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  z-index: 99;
  padding: 48px 40px;
  overflow: auto;
  letter-spacing: 0.02em;
  background-color: var(--white-color);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}

.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.mobile-menu__close-btn {
  position: absolute;
  top: 10px;
  right: 15px;
}

.mobile-menu-list {
  margin-bottom: auto;
}

.mobile-menu-list__item:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-menu-list__link-tel {
  font-size: 34px;
  font-weight: 500;
  line-height: 1.1764705882;
  color: var(--accent-color);
}

.mobile-menu-list__link-mailto {
  font-size: 24px;
  font-weight: 500;
  line-height: 1.1666666667;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
}

.mobile-menu-list__link {
  font-size: 40px;
  font-weight: 500;
  line-height: 1.175;
  color: var(--second-text-color);
}

.mobile-menu-list__link.active {
  color: var(--accent-color);
}

.mobile-social-list {
  display: flex;
  flex-wrap: wrap;
}

.mobile-social-list__item {
  padding-left: 10px;
  padding-right: 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

.mobile-social-list__item:first-child {
  padding-left: 0;
}

.mobile-social-list__item:last-child {
  padding-right: 0;
  border-right: 0;
}

.mobile-social-list__link {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.2222222222;
  color: var(--accent-color);
}

.hero {
  padding-top: 118px;
  padding-bottom: 118px;
  background-image: linear-gradient(var(--hero-bg-overlay), var(--hero-bg-overlay)), url(../images/bg-mobi.jpg);
  background-color: var(--hero-bg-color);
  background-size: cover;
  max-width: 1600px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(var(--hero-bg-overlay), var(--hero-bg-overlay)), url(../images/bg-mobi@2x.jpg);
  }
}
@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(var(--hero-bg-overlay), var(--hero-bg-overlay)), url(../images/bg-tabl.jpg);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(var(--hero-bg-overlay), var(--hero-bg-overlay)), url(../images/bg-tabl@2x.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(var(--hero-bg-overlay), var(--hero-bg-overlay)), url(../images/bg.jpg);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(var(--hero-bg-overlay), var(--hero-bg-overlay)), url(../images/bg@2x.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

.hero__title {
  font-size: 26px;
  font-weight: 900;
  line-height: 1.6153846154;
  letter-spacing: 0.06em;
  color: var(--white-color);
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 30px;
  width: 360px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    font-weight: 900;
    line-height: 1.3636363636;
    width: 696px;
  }
}

.hero__button {
  min-width: 200px;
  padding: 10px 24px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 768px) {
  .hero__button {
    min-width: 216px;
    padding: 10px 22px;
  }
}

.features-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  align-items: flex-start;
}

@media screen and (min-width: 768px) {
  .features-list__item {
    flex-basis: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .features-list__item {
    flex-basis: calc((100% - 90px) / 4);
  }
}

.features-list__title {
  color: var(--second-text-color);
  margin-bottom: 10px;
}
@media screen and (min-width: 768px) {
  .features-list__title {
    text-align: left;
  }
}

.features-list__icon {
  width: auto;
  height: 120px;
  background-color: var(--section-bg-color);
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.features-list__text {
  line-height: 1.71;
}

.work-section {
  display: none;
}
@media screen and (min-width: 1200px) {
  .work-section {
    display: block;
    padding-bottom: 94px;
  }
}

.list__item-img {
  position: relative;
  flex-basis: calc((100% - 60px) / 3);
}

.list__item-img:not(:last-child) {
  margin-right: 30px;
}

.label {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 370px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(47, 48, 58, 0.8);
  z-index: 2;
}

.label-text {
  font-weight: 700;
  color: var(--white-color);
}

.team-section {
  background-color: var(--section-bg-color);
}

.card-desc {
  width: 100%;
  padding: 30px;
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.team-list__item {
  line-height: 1.19;
  text-align: center;
  background-color: var(--white-color);
  box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
  border-radius: 0 0 4px 4px;
}
@media screen and (min-width: 768px) {
  .team-list__item {
    flex-basis: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .team-list__item {
    flex-basis: calc((100% - 90px) / 4);
  }
}

.team-title {
  font-size: 16px;
  font-weight: 500;
  color: var(--second-text-color);
  margin-bottom: 10px;
}

.team-title + p {
  font-size: 16px;
  margin-bottom: 16px;
}

.client-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.client-list__item {
  flex-basis: calc((100% - 30px) / 2);
}
@media screen and (min-width: 768px) {
  .client-list__item {
    flex-basis: calc((100% - 60px) / 3);
  }
}
@media screen and (min-width: 1200px) {
  .client-list__item {
    flex-basis: calc((100% - 150px) / 6);
  }
}

.client-list__link {
  /* width: 210px; */
  height: 92px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--icon-color);
  border-radius: 4px;
}
.client-list__link:hover, .client-list__link:focus {
  border: 1px solid var(--accent-color);
}

.client-list__icon {
  fill: var(--icon-color);
}
.client-list__link:hover .client-list__icon, .client-list__link:focus .client-list__icon {
  fill: var(--accent-color);
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--bg-color);
}

@media screen and (min-width: 1200px) {
  .footer-flex {
    display: flex;
    align-items: baseline;
    margin-bottom: 0;
  }
}

@media screen and (min-width: 768px) {
  .footer-flex-container {
    display: flex;
    margin-bottom: 60px;
    justify-content: space-around;
    align-items: baseline;
  }
}
@media screen and (min-width: 1200px) {
  .footer-flex-container {
    margin: 0;
  }
}

@media screen and (max-width: 1199px) {
  .footer-address {
    text-align: center;
  }
}
@media screen and (max-width: 767px) {
  .footer-address {
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-address {
    margin-right: 92px;
  }
}

.footer-logo {
  display: block;
  margin-bottom: 20px;
}

.list__item-footer:not(:last-child) {
  margin-bottom: 8px;
}
@media screen and (min-width: 1200px) {
  .list__item-footer:not(:last-child) {
    margin-bottom: 10px;
  }
}

.list__link-footer {
  color: var(--address-color);
  font-style: normal;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.list__link-footer:hover, .list__link-footer:focus {
  color: var(--accent-color);
}

.map {
  color: var(--white-color);
}

.footer-title {
  color: var(--white-color);
  margin-bottom: 20px;
}
@media screen and (min-width: 1200px) {
  .footer-title {
    text-align: left;
  }
}

.footer-social__list {
  display: flex;
  justify-content: center;
  margin-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .footer-social__list {
    margin-bottom: 0;
  }
}

.footer-social-list__item:not(:last-child) {
  margin-right: 10px;
}

.social-list__link {
  background: rgba(255, 255, 255, 0.1);
}

.social-list__icon.foot {
  fill: var(--white-color);
}

@media screen and (min-width: 768px) {
  .footer-email {
    max-width: 450px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 1200px) {
  .footer-email {
    max-width: 570px;
    margin-right: 0;
  }
}

@media screen and (min-width: 1200px) {
  .footer-email-box {
    display: flex;
    width: 100%;
  }
}

.email-input {
  margin-bottom: 20px;
  height: 50px;
  width: 100%;
  padding: 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: var(--bg-color);
  color: var(--white-color);
}
.email-input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}
@media screen and (min-width: 1200px) {
  .email-input {
    width: 358px;
    margin-bottom: 0;
    margin-right: 12px;
  }
}

.email-btn {
  display: flex;
  width: 200px;
  padding: 10px 28px;
  margin-left: auto;
  margin-right: auto;
}

.btn-form__span {
  margin-right: 12px;
}
@media screen and (min-width: 1200px) {
  .btn-form__span {
    margin-right: 10px;
  }
}

.list__item-filter:not(:last-child) {
  margin-right: 8px;
}

@media screen and (max-width: 767px) {
  .list__item-filter:nth-child(-n+3) {
    margin-bottom: 15px;
  }
}
.filter-cont {
  display: flex;
  margin-bottom: 50px;
  flex-wrap: wrap;
  align-items: baseline;
}
@media screen and (min-width: 768px) {
  .filter-cont {
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
  }
}

.filter {
  padding: 6px 22px;
  font-weight: 500;
  line-height: 1.62;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
  background-color: var(--section-bg-color);
  min-width: 73px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.filter:hover, .filter:focus {
  background-color: var(--accent-color);
  color: var(--white-color);
  box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0 4px 4px rgba(0, 0, 0, 0.06), 0 1px 1px rgba(0, 0, 0, 0.12);
}
.filter.active {
  background-color: var(--accent-color);
  color: var(--white-color);
}

.list-wrap {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
}

@media screen and (min-width: 768px) {
  .list-wrap__item-gallery {
    flex-basis: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .list-wrap__item-gallery {
    flex-basis: calc((100% - 60px) / 3);
  }
}

.link.card {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.link.card:hover, .link.card:focus {
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.08), 0 3px 1px rgba(0, 0, 0, 0.1);
}

.card__hover {
  position: relative;
  overflow: hidden;
}

.card__description-hover {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background: rgba(33, 150, 243, 0.9);
}
.link.card:hover .card__description-hover, .link.card:focus .card__description-hover {
  transform: translateY(0);
  opacity: 1;
  visibility: visible;
}

.card__text-hover {
  width: 322px;
  height: 168px;
  line-height: 1.56;
  font-size: 18px;
  color: var(--white-color);
}

.card__footer {
  border: 1px solid var(--card-border-color);
  border-top: none;
  padding: 20px 24px;
}

.card__footer-title {
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--second-text-color);
  margin-bottom: 4px;
}

.card__footer-text {
  font-size: 16px;
  line-height: 1.88;
  color: var(--main-text-color);
}/*# sourceMappingURL=main.css.map */