.features-list {
  margin: -30px;
}
.features-list__item {
  margin: 30px;
}
.features-list__title {
  color: var(--second-text-color);

  margin-bottom: 10px;
}
.features-list__icon {
  width: auto;
  height: 120px;
  background-color: var(--section-bg-color);
  margin-bottom: 30px;
  @include flex(flex, center, center);
}
.features-list__text {
  line-height: 1.71;
}

.uniq-flex-cont {
  display: flex;
  align-items: flex-start;
  margin-left: -30px;
}

.list__item-uniq {
  flex-basis: calc((100% - 90px) / 4);
  margin-left: 30px;
}

.uniq-list-icon {
  width: 270px;
  height: 120px;
  background-color: var(--section-bg-color);
  margin-bottom: 30px;
  @include flex(flex, center, center);
}

.uniq-title {
  color: var(--second-text-color);

  margin-bottom: 10px;
}

.uniq-text {
  line-height: 1.71;
}
