.list-wrap {  
  @media screen and(min-width:768px) {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
  }
}

.list-wrap__item-gallery {
  @media screen and(min-width:768px) {
    flex-basis: calc((100% - 30px) / 2);
  }
  @media screen and(min-width: 1200px) {
    flex-basis: calc((100% - 60px) / 3);
  }
}

.link.card {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.08),
      0 3px 1px rgba(0, 0, 0, 0.1);
  }
}

.card__hover {
  position: relative;
  overflow: hidden;
}

.card__description-hover {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  @include flex(flex, center, center);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background: rgba(33, 150, 243, 0.9);

  .link.card:hover &,
  .link.card:focus & {
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
  }
}

.card__text-hover {
  width: 322px;
  height: 168px;
  line-height: 1.56;
  font-size: 18px;
  color: var(--white-color);
}

.card__footer {
  border: 1px solid var(--card-border-color);
  border-top: none;
  padding: 20px 24px;
}

.card__footer-title {
  @include font(18px, 700, 36px);
  letter-spacing: 0.06em;
  color: var(--second-text-color);

  margin-bottom: 4px;
}

.card__footer-text {
  font-size: 16px;
  line-height: 1.88;
  color: var(--main-text-color);
}
