.header {
  position: relative;
  padding: 10px 0;
  border-bottom: 1px solid var(--border-color);
}
.navigation {
  display: flex;
  align-items: center;
}
.header__logo {
  margin-right: 0;
  @media screen and (min-width: 481px) {
    margin-right: 86px;
  }
  @media screen and (min-width: 768px) {
    margin-right: 92px;
  }
}
.nav-list {
  display: none;
  @media screen and (min-width: 481px) {
    display: flex;
  }
}
.nav-list__item:not(:last-child) {
  margin-right: 50px;
}
.address-list {
  display: none;
  @media screen and (min-width: 481px) {
    display: block;
  }
  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
    margin-left: auto;
  }
}
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  @media screen and (min-width: 480px) {
    justify-content: none;
  }
}
.address-list__item:not(:last-child) {
  margin-right: 50px;
}

.address-list__item {
  color: var(--second-text-color);
  padding: 32px 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }

  &.current {
    color: var(--accent-color);
    position: relative;
  }

  &.current::after {
    content: "";
    position: absolute;
    bottom: 0;
    display: block;
    width: 109%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--accent-color);
  }
}
.address-list__link {
  padding: 32px 0;
  color: var(--main-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}
.mobile-btn {
  background-color: transparent;
  border: none;
  margin: 0;
  padding: 0;
  line-height: 0;
}
.mobile-menu-btn {
  display: inline-block;

  & .close-menu-icon {
    display: none;
  }
  &.is-open .close-menu-icon {
    display: block;
  }
  &.is-open .burger-menu-icon {
    display: none;
  }

  @media screen and (min-width: 481px) {
    display: none;
  }
}

.mobile-menu {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding-top: 48px;
  padding-bottom: 48px;

  overflow: auto;
  letter-spacing: 0.02em;
  background-color: var(--white-color);
}
.mobile-menu__close-btn {
  position: absolute;
  top: 10px;
  right: 15px;
}
.modal-menu-list {
  margin-left: 25px;
}
.modal-nav-list {
  margin-bottom: 302px;
}
.modal-menu-list__item:not(:last-child) {
  margin-bottom: 32px;
}
.modal-menu-list__link-tel {
  @include font(34px, 500, 40px);

  color: var(--accent-color);
}
.modal-menu-list__link-mailto {
  @include font(24px, 500, 28px);
  letter-spacing: 0.02em;
  color: var(--main-text-color);
}
.modal-address-list {
  margin-bottom: 64px;
}
.modal-menu-list__link {
  @include font(40px, 500, 47px);
  color: var(--second-text-color);
}
.modal-menu-list__link.active {
  color: var(--accent-color);
}
.modal-social-list {
  display: flex;
}
.modal-social-list__item:not(:last-child) {
  margin-right: 10px;
}
.modal-social-list__link {
  @include font(18px, 500, 22px);
  color: var(--accent-color);
}

/* .header-page {
    border-bottom: 1px solid var(--border-color);
}

.header-page__logo{
    margin-right: 94px;
}

.header-address {
    margin-left: auto;
}

.list__item-nav:not(:last-child) {
    margin-right: 50px;
}

.list__link-nav {
    color: var(--second-text-color);
    padding: 32px 0;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus{
        color: var(--accent-color);
    }

    &.current{
        color: var(--accent-color);
        position: relative;
    }

    &.current::after{
        content: '';
        position: absolute;
        bottom: 0;
        display: block;
        width: 109%;
        height: 4px;
        border-radius: 2px;
        background-color: var(--accent-color);
    }
}

.address {
    padding: 32px 0;
    color: var(--main-text-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus{
        color: var(--accent-color);
    }
}

.link.nav,
.link.address {
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.icon-address {
    fill: currentColor;
    margin-right: 10px;
} */
