.team-section {
  background-color: var(--section-bg-color);
}

/* .team {
  line-height: 1.19;
  text-align: center;
  background-color: var(--white-color);
} */

.card-desc {
  width: 100%;
  padding: 30px;
}
.team-list{
   display: flex;
   flex-wrap: wrap;
   gap: 30px;
}

.team-list__item {
  line-height: 1.19;
  text-align: center;
  background-color: var(--white-color);
  box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14),
    0 1px 3px 0 rgba(0, 0, 0, 0.12);
  border-radius: 0 0 4px 4px;

  /* &:not(:last-child) {
    margin-bottom: 30px;
  } */
  @media screen and(min-width: 768px){
    flex-basis: calc((100% - 30px) / 2);
  }
  @media screen and(min-width: 1200px) {
    flex-basis: calc((100% - 90px) / 4);
  }
}

.team-title {
  font-size: 16px;
  font-weight: 500;
  color: var(--second-text-color);

  margin-bottom: 10px;
}

.team-title + p {
  font-size: 16px;
  margin-bottom: 16px;
}
