.work-section {
  display: none;
  @media screen and(min-width: 1200px) {
    display: block;
    padding-bottom: 94px;
  }
}

.list__item-img {
  position: relative;
  flex-basis: calc((100% - 60px) / 3);
}

.list__item-img:not(:last-child) {
  margin-right: 30px;
}

.label {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 370px;
  height: 70px;
  @include flex(flex, center, center);
  background-color: rgba(47, 48, 58, 0.8);
  z-index: 2;
}

.label-text {
  font-weight: 700;
  color: var(--white-color);
}
