.logo {
  font-family: var(--second-font-family);
  @include font(24px, 700, 28px);
  @media screen and (min-width: 1200px) {
    @include font(26px, 700, 31px);
  }
}

.logo_blue {
  color: var(--accent-color);
}

.logo_black {
  color: var(--logo-color);
}

.logo_white {
  color: var(--white-color);
}
