:root {
    --main-text-color: #757575;
    --second-text-color: #212121;
    --accent-color: #2196F3;
    --white-color: #FFFFFF;
    --address-color: rgba(255, 255, 255, 0.6);
    --section-bg-color: #F5F4FA;
    --logo-color: #000000;
    --bg-color: #2F303A;
    --border-color: #ECECEC;
    --card-border-color: #EEEEEE;
    --hero-bg-overlay: rgba(47, 48, 58, 0.4);
    --hero-bg-color: #C4C4C4;
    --icon-color: #AFB1B8;

    --main-font-family: Roboto, sans-serif;
    --second-font-family: Raleway, sans-serif;

}